/*Footer*/

.footer {
  padding: 60px 0 50px;
  background-color: var(--dark-bg);
  color: var(--header-text);

  margin-top: auto;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 27px;
}

.social {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

.copyright {
  font-size: 16px;
  color: greenyellow;
}

.copyright a {
  color: rgb(249, 117, 10);
}

.copyright a:hover {
  color: red;
}

.copyright a:active {
  color: greenyellow;
}

.copyright p + p {
  margin-top: 0.5em;
}
